#----------------------------------------------------------------------
 
RewriteEngine On
 
RewriteBase /paathshala/  
 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
 
RewriteRule ^(.*)$ index.php/$1 [PT,L]
#RewriteRule \.(mp4|wmv)$ - [F]
#----------------------------------------------------------------------